.svg-container {
          display: inline-block;
          position: relative;
          width: 100vw;
          height: 100vh;
          vertical-align: top;
          overflow: hidden;
          /* background: #dadada; */
      }
.svg-map {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
button {
    vertical-align: top;
    background-color: #E2E9E9; /* Green */
    color: #495050;
    padding: 12px 12px;
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    transition-duration: 0.4s;
    border-radius: 8px;
    border: 1px solid #8F9797;
    border-style: solid;
    border-color: #c5caca;
    position:relative;
    justify-content: center;
}

button:hover {
    transition-duration: 0.1s;
    background-color: #8F9797;
    color: white;
  }

div.tooltip {
        position: absolute;
        text-align: center;
        width: 150px;
        cursor: pointer;
        white-space: nowrap;
        height: 53px;
        padding: 3px;
        font: 10px sans-serif;
        background: #FBE8BF;
        border: 1px;
        border: black;
        border-top: 1px dotted black;

    }
