html, body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;   /* prevent horizontal scroll only */
  overflow-y: auto;     /* allow normal height */
}

body{
  max-width: inherit;
}

/* SVG should not create extra vertical space */
svg{
  display: block;       /* removes inline baseline whitespace */
  max-width: 100%;
  height: auto;

  overflow: visible;    /* don't clip graphics */
  padding: 0;           /* avoid adding height */
  margin: 0;            /* avoid adding height */
  opacity: 0.8;         /* fix invalid 80% */
}

.annotation{
  overflow: visible;
  display: inline-block;
  padding: 5px 5px;
  margin: 10px;
  bottom: 0;
}

.annotation_text{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;      /* fix missing unit */
}

.line{
  stroke: #000000;
  stroke-width: 0.5;
}

.legend{
  width: 300px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  padding: 5px 5px;
  margin: 0;
  bottom: 0;
}

.legend_text{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;      /* fix missing unit */
}

.air_graph_force_title{
  width: 300px;
  float: left;
  padding: 5px 5px;
  margin: 10px;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;      /* fix missing unit */
  word-wrap: normal;
}

.text{
  width: 300px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;      /* fix missing unit */
  word-wrap: normal;
}

.air_graph_force_paragraph{
  width: 300px;
  vertical-align: bottom;
  display: inline-block;
  overflow: visible;
  padding: 5px 5px;
  margin: 10px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;      /* fix missing unit */
  word-wrap: normal;
}

button{
  vertical-align: top;
  background-color: #E2E9E9;
  color: #495050;
  padding: 12px 12px;
  text-align: center;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  transition-duration: 0.4s;
  border-radius: 8px;
  border: 1px solid #c5caca;
  position: relative;
  justify-content: center;
}

button:hover{
  transition-duration: 0.1s;
  background-color: #8F9797;
  color: white;
}

div.tooltip{
  position: absolute;
  text-align: center;
  width: 73px;
  height: 20px;
  padding: 2px 1px;
  font: 12px roboto;
  background: #484E4E;
  color: #E2E9E9;
  border: 1px solid #8F9797;
  border-radius: 8px;
  pointer-events: none;
  text-decoration: none;
}

.dot{
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid;
}
