#root{
  min-width: 350px;
  display: grid;
  padding: 20px;
  grid-gap: 10px;
  background-color: #2b2d2f;
  height: fit-content;
  grid-template-columns: 100px 1fr 250px; 
  grid-template-rows: 
  30px  
  minmax(1fr) 
  30px;
  grid-template-areas: 
    "header header header"
    "map map text"
    "footer footer footer"
  ;
}
@media (max-width:800px){
  #root{
    grid-template-columns: 100px 1fr 300px;
    grid-template-rows: 40px 1fr minmax(100px 500px) 30px 10px;
    grid-template-areas: 
     "header header header"
      "map map map"
      'text text text'
      "footer footer footer";
  }
}
.msg{
  /* display: inline-block; */
  text-align: center;
  display: grid;
  grid-area: msg-text;
  align-self: center;
}
.blinking-dot {
    height: 15px;
    width: 15px;
    align-self: center;
    background-color: rgb(218, 218, 218, 100%);
    border-radius: 50%;
    display: grid;
    -webkit-animation: up-right 2s infinite;
    -moz-animation: up-right 2s infinite;
    -o-animation: up-right 2s infinite;
    animation: up-right 2s infinite;
    grid-area: blinking-dot;
  }
@keyframes up-right {
    0% {
        transform: scale(1);
        opacity: .25;
    }
    50% {
        transform: scale (1, 5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: .25;
    }
}
.material-icons{
  cursor: pointer;
  display: grid;
  grid-area: refresh;
  align-self: center;
}

.header{
  /* background-color: #dadada; */
  border-bottom: 1px dotted rgb(218, 218, 218, 20%);
  border-top: 1px dotted rgb(218, 218, 218, 20%);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  padding: 5px;
  padding-left: 15px;
  font-family:Georgia, Times, "Times New Roman", serif;
  color: #dadada;
  text-align: center;
  grid-area: header;
  display:grid;
  grid-template-columns: 50px 1fr 50px; 
  grid-template-rows: 30px ; 
  grid-template-areas: 
    "blinking-dot msg-text refresh";

}@media (max-width:800px){
  .header{
    border-bottom: 1px dotted rgb(218, 218, 218, 20%);
    border-top: 1px dotted rgb(218, 218, 218, 0%);
    border-bottom-left-radius: 00px;
    border-bottom-right-radius: 00px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    text-align: center;
    font-size: 1.8vh;
  }
}

.footer{
  background-color: #dadada;
  padding: 5px;
  padding-left: 15px;
  font-family:Georgia, Times, "Times New Roman", serif;;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 200px 1fr;
  grid-area: footer;
}
.description{
  display: inline-block;
  grid-area: text;
  text-align: right;
  align-self: center;
  border-left: 1px dotted rgb(218, 218, 218, 20%);
  color: #dadada;
  /* background-color: rgb(43,45,47, 53%);  */
}@media (max-width:800px){
  .description{
    border-left: 1px dotted rgb(218, 218, 218, 0%);
    text-align: center;
    display: inline-block;
  }
}

.item-title{
  font-family:Georgia, Times, "Times New Roman", serif;;
  font-size: 55px;
  font-weight: 100;  
  line-height: 1;
}

.subtitle{
  font-family:Georgia, Times, "Times New Roman", serif;;
  font-size: 30px;
  font-weight: 100;
  text-align: right;
  line-height: 1.1;
}

/* .org-view{ */
  /* align-content: center; */
  /* display: grid; */
  /* grid-area: text; */
  /* text-align: right; */
  /* color: #dadada; */
  /* padding-right: 1vh;
  padding-left: 1vh; */
  /* background-color: rgb(43,45,47, 53%); */
/* } */
/* .org-image{
  width: 160px;
  height: auto;
  margin-left: auto;
  margin-right: 0;
  padding-bottom: 20px;
} */
/* .org-title{
  font-family:Georgia, Times, "Times New Roman", serif;;
  font-size: 3vh;
  font-weight: 100;  
  line-height: 1;
  padding-bottom: 20px; */
/* } */
.org-sub{
  font-family:Georgia, Times, "Times New Roman", serif;;
  font-size: 1.5vh;
  font-weight: 100;
  text-align: right;
  line-height: 1.1;
}

#map{
    position: relative;
    max-width: 1250px;
    display: grid;
    grid-area: map;
}
.svg-map{
    position: relative;
    max-width: 1250px;
    height: inherit;
    cursor: -webkit-grab; cursor: grab;
    /* display: grid; */
    /* grid-area: map; */
}

.loader {
  border: 10px solid #86A4AE; /* Light grey */
  border-top: 10px solid #8f291a; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  position: fixed;
  top:30%;
  left:50%;
}
.loader-loading{
  color:#86A4AE;
  font-size: 15px;
  font-family: Georgia, Times, "Times New Roman", serif;;
  font-weight: 300;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* hr{
  width: fit-content;
} */

